@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');
body {
  font-family: "Andale Mono", monospace;
  background-color: #008B8B;
  text-align: center;
}

h1 {
  font-size: 27px;
  color: #026005;
  padding: 10px;
  text-decoration: underline;
  font-family: "Jazz LET", fantasy;
  text-align: center;
}

th {
  font-size: 20px;
  font-famiy: #2F4F4F;
  color: #e0cb09;
}

td {
  font-family: "Andale Mono", monospace;
  font-size: 15px;
  color: #000000
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 10px;
  border: 5px solid #555;
  border-style: inset;
}

section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 10000px;
  display: block;
